html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
margin: 0;
}
#headnav {
	background: #fff;
	max-width: 968px;
	margin: 0 auto;
	padding: 30px 0 10px 0;
}
header{
font-size: 400%;
text-align: left;
padding: 10px;
font-family: arial, sans-serif;
font-weight: bold;
float: left;
}
nav{
	float:right;
	margin-top: 40px;
}
nav ul, nav li{
list-style:none;
padding:0;
margin: 0;

}
nav ul{
display: table;
    margin: 0 auto;
	
	}
nav li{
    display: inline-block;
    padding: 10px;
}
nav li a{
color: #000!important;
font-weight: bold;
font-size: 120%;
text-decoration: none;
}
#slider{
	background:#fdeadb;
	width:100%;
	min-height: 500px;
}
.container{
	min-height: 500px;
	padding: 30px 10px;
	max-width: 800px;
	margin: 0 auto;
}
.container h2.judu{
	font-size: 300%;
	font-weight:bold;	
	text-align: center;
	font-family: arial, sans-serif;
	margin-bottom: 30px;
}
#about #boutbox {
	max-width: 800px;
	min-height: 400px;
	background: #ddd;
	border: 2px solid #000;
	margin: 30px auto;
}
#about #boutbox .bagi{
	float: left;
	width: 50%;
}
#about .bulet {
	background: #000;
	border-radius: 100%;
}
#about .bulet img{
	display: block;
	width: 100%;
}
.bagi#dua {
	display:block;
	width: 100%;
}
.readm {
	background: #4f81bc;
	display: table;
	padding: 10px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}
#keung .bag{
	width:30%;
	float: left;
}
#keung .bag#satu {
	margin-left: 5%;
}
#keung .bag#tiga {
	margin-right: 5%;
}

.pack {
width: 250px;
    float: left;
    text-align: center;
    padding: 8px;
}
.pack h3 {
	padding: 5px;
}
.blogitem h2 {
	font-size: 200%;
}
.blogitem img{
	float:left;
	margin: 0 10px 10px 0;
}
#subscribe {
	padding: 50px 10px;
	background: #ccc;
}
#subscribe form{
	margin: 0 auto;
	display: table;
}
#subscribe .email,#subscribe .submit {
padding: 10px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    font-family: serif;
    outline: none;
    height: auto;
}
#subscribe .submit{
	padding: 10px 30px;
}
footer {
	background: #222;
	padding: 35px 10px;
	color: #fff;
	font-size: 150%;
	text-align: center;
}
.footc {
	width:25%;
	text-align:center;
	float: left;
}
.footc #con {
	border-left: 2px solid #ddd;
	padding: 10px 30px;
    margin: 15px 0 15px 60px;
}
.footc #con a,.footc #con a img {
	display: block;
}
.footc #con a{
	margin: 20px;
	background: #fff;
	max-width: 50px;
    height: 50px;
}
.footc ul,.footc li{
	list-style: none;
	padding:0;
	margin:0;
}
.footc li{
	line-height: 150%;
}
.footc li a{
	text-decoration: none;
	color: #ddd;
}
.footc li a:hover{
	text-decoration: underline;
	color: #fff;
}
.footc h3 {
	font-size: 150%;
	padding: 10px;
}
.footc ul {
	padding: 10px;
}
.kaki {
	background: #111;
	text-align:center;
	padding: 15px;
	color: #999;
}

.Ourpackage {
	background: #FF8C73;
	text-align: center;
	padding: 50px;
}

.PicturePackage {
	background-position: center;
	background: #EFF7CF;
	padding: 10px;
}

.packsquare{
	border: solid 250px #D7C9AA;
}

.padpackage{
	background-position: center;
	background : #D3EFFB;
	padding: 200px;
}

.allinpackage{
	width :300;
	height: 300;
	float: left;
	margin: 4px;
	background-color: black;
	background-size: 100%;
	background-position: center;
}

.cateringonly{
	width :300;
	height: 300;
	float: right;
	margin: 4px;
	background-color: black;
	background-size: 100%;
	background-position: center;
}

#padketentuan{
	background-position: center;
	background: #EFF7CF;
	padding: 10px;
}

.ketentuan{
	width :300;
	background-color: black;
	float: center;
	margin-left: 500px;
}